.btn{
    background-color: rgba(0, 255, 157, 0.945);
    border-radius: 100;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
}

.box{
    width: 100px;
    margin: 5px;
}

.main{
    padding: 50px;
}