.main{
    padding: 50px;
    background-image: linear-gradient(to bottom right,rgb(0, 183, 255), rgb(0, 38, 255));
	background-attachment: fixed;
    object-fit: cover;
    min-width:100%;
    min-height: 100%;
}

.box{
    width: 100px;
    margin: 5px;
}

.btn{
    background-color: rgba(0, 255, 157, 0.945);    
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
}

.result{
    font-size: 60px;
}